<!DOCTYPE HTML>

<html lang="nl">
{{ partial "head.html" . }}
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">
    {{ partial "header.html" . }}

    <!-- Main -->
    <article id="main">
        <header>
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                {{ .Content }}
            </div>
        </section>
    </article>

    {{ partial "footer.html" . }}

</div>

{{ partial "scripts.html" . }}

</body>
</html>