

<ul class="actions" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ .Site.BaseURL }}">
            <span itemprop="name">{{ .Site.Params.Title }}</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
    ›
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="{{ .Permalink }}" href="{{ .Permalink }}">
            <span itemprop="name">{{ .Title }}</span>
        </a>
        <meta itemprop="position" content="2" />
    </li>
</ul>