{{ $faq := .Site.Data.faq.algemeen.faq }}

{{/* Toon FAQ HTML (optioneel) */}}
{{ with $faq }}
<section class="faq">
    <h2>Veelgestelde vragen</h2>
    {{ range . }}
    <details class="faq-item">
        <summary>{{ .question }}</summary>
        <div class="faq-answer"><p>{{ .answer }}</p></div>
    </details>
    {{ end }}
</section>

{{/* JSON-LD: bouw een echte datastructuur, geen string-concat */}}
{{ $entities := slice }}
{{ range . }}
{{ $entities = $entities | append (dict
"@type" "Question"
"name" .question
"acceptedAnswer" (dict "@type" "Answer" "text" .answer)
) }}
{{ end }}

<script type="application/ld+json">
    {{ dict
        "@context" "https://schema.org"
        "@type" "FAQPage"
        "mainEntity" $entities
        | jsonify | safeJS }}
</script>
{{ end }}