<!-- Header -->
<head>
    <title>{{ .Site.Title }} {{ .Params.Title }}</title>

    <link rel="icon" type="image/png" href="/images/site/icon/favicon16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/site/icon/favicon32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/site/icon/favicon96x96.png" sizes="96x96">
    <link rel="shortcut icon" href="/images/site/icon/favicon-196.png" sizes="196x196" >
    <link rel="apple-touch-icon" sizes="72x72" href="/images/site/icon/touch-ipad.png" >
    <link rel="apple-touch-icon" sizes="114x114" href="/images/site/icon/touch-iphone.png" >
    <link rel="apple-touch-icon" sizes="152x152" href="/images/site/icon/touch-ipad-ret.png" >

    <meta name="description" content="Invicto VZW is een gepassioneerde vechtsportclub in Keerbergen.">
    <meta name="keywords" content="Ju-Jitsu, Keerbergen, Vechtsporten, Judo, BJJ, JJK, Invicto, Striking, No-Gi, Grappling">
    <meta name="author" content="Invicto VZW">

    <meta property="og:title" content="Invicto VZW">
    <meta property="og:description" content="Gepassioneerde gevechtsportclub te Keerbergen.">
    <meta property="og:image" content="https://www.invcitokeerbergen.be/images/site/invicto.jpeg">
    <meta property="og:url" content="https://www.invcitokeerbergen.be">

    <meta name="twitter:title" content="Invicto VZW">
    <meta name="twitter:description" content="Gepassioneerde gevechtsportclub te Keerbergen.">
    <meta name="twitter:image" content="https://www.invcitokeerbergen.be/images/site/invicto.jpeg">
    <meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>