<html>
{{ partial "head.html" . }}
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">
    {{ partial "header.html" . }}

    <!-- Main -->
    <article id="main">
        <header>
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                Onze ervaren, gediplomeerde, gepassioneerde en enthousiaste trainers leren je op een verantwoorde wijze de Ju Jitsu technieken aan.
                Verder wordt {{ .Site.Title }} geleid door een gedreven en geëngageerd bestuur.

                <h2>Onze trainers</h2>
                Klik op de naam van één van onze trainers om meer informatie te zien. Je zal merken hoe gepassioneerd onze trainers zijn en hoe goed je begeleid zal worden.
                <ul>
                    {{ range $.Site.Data.trainers }}
                    <li><a href="#{{ .firstname }}_{{ .familyname }}">{{ .firstname }} {{ .familyname }}</a></li>
                    {{ end }}
                </ul>

                {{ range $.Site.Data.trainers }}
                  {{ partial "trainer.html" . }}
                {{ end }}
            </div>
        </section>
    </article>

    {{ partial "footer.html" . }}

</div>

{{ partial "scripts.html" . }}

</body>
</html>